/*  */
/*  */



/* ------------- */
/*   𝑅𝑒𝑠𝑒𝑡       */
/* ------------- */

/*  𝑏𝑜𝑥 𝑠𝑖𝑧𝑖𝑛𝑔 𝑟𝑒𝑠𝑒𝑡  */
* {
    box-sizing: border-box;
}

/* 𝑅𝑒𝑠𝑒𝑡 𝑀𝑎𝑟𝑔𝑖𝑛𝑠 */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* 𝑚𝑎𝑘𝑒 𝑖𝑡 𝑎 𝑏𝑖𝑡 𝑚𝑜𝑟𝑒 𝑒𝑎𝑠𝑦 𝑡𝑜 𝑤𝑜𝑟𝑘 𝑤𝑖𝑡ℎ 𝑓𝑜𝑟𝑚𝑠  */
input, button, textarea, label {
    font: inherit;
}

/*  𝑅𝑒𝑚𝑜𝑣𝑒 𝑎𝑛𝑖𝑚𝑎𝑡𝑖𝑜𝑛𝑠 𝑓𝑜𝑟 𝑢𝑠𝑒𝑟 𝑡ℎ𝑎𝑡 ℎ𝑎𝑣𝑒 𝑡ℎ𝑒𝑚 𝑡𝑢𝑟𝑛𝑒𝑑 𝑜𝑓𝑓  */
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}


/* ------------- */
/*   𝑈𝑡𝑖𝑙𝑖𝑡𝑦 𝐶𝑙𝑎𝑠𝑒𝑠 */
/* ------------- */

.container {
    margin-inline: auto;
    max-width: 95rem;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/* -------------- */
/* Root Variables */
/* -------------- */

:root {

    /* 𝐶𝑜𝑙𝑜𝑟𝑠  */
    --gradient: linear-gradient(0.30turn, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    /* 𝑁𝑒𝑢𝑡𝑟𝑎𝑙 𝐶𝑜𝑙𝑜𝑟𝑠  */
    --lgray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);

    /* 𝐹𝑜𝑛𝑡 𝐹𝑎𝑚𝑖𝑙𝑦 */
    --font-fam: 'Space Grotesk', sans-serif;
    --fon-w-3: 300;
    --fon-w-4: 400;
    --fon-w-5: 500;

}


/* -------------- */
/*   More Styling */
/* -------------- */

main {
    font-family: var(--font-fam);
    width: 100%;
    position: relative;
    height: 100vh;
}

aside {
    display: inline;
    height: 100vh;
}

aside.gradient-section {
    background: url('images/bg-main-desktop.png') no-repeat;
    background-size: cover;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;

}

/* used background-size: contain  to make the bg-img fit the div width-content */
img.front {
    position: absolute;
    top: 12%;
    right: -22%;
}

img.card-logo {
    margin-bottom: 14%;
}

div.card-data {
    font-weight: var(--fon-w-4);
    position: absolute;
    top: 12%;
    right: -15%;
    color: hsl(0, 0%, 100%);
    width: 25rem;
    padding: 4%;
}

div>h1 {
    letter-spacing: .3rem;
    font-size: 1.5rem;
    font-weight: inherit;
}

h1+div {
    margin-top: 10%;
}

div.card-name, div.exp-date, p {
    width: 45%;
    display: inline;

}

div.exp-date {
    text-align: right;
    position: absolute;
    right: 0;
}

/* div.card-front+div {
    width: 40%;
     background: url('images/bg-card-back.png') no-repeat;
    background-size: contain;
} */

/* Form section styling  */

aside.form-section {
    float: right;
    width: 65%;
    position: absolute;
    background-color: aliceblue;
    top: 0;
    right: 0;
    z-index: -1;
}

.form-container {
    width: 40%;
    height: 12rem;
    position: absolute;
    top: 30%;
    right: 10%;
}