/*  */
/*  */


/* ------------- */
/*   𝑅𝑒𝑠𝑒𝑡       */
/* ------------- */

/*  𝑏𝑜𝑥 𝑠𝑖𝑧𝑖𝑛𝑔 𝑟𝑒𝑠𝑒𝑡  */
* {
    box-sizing: border-box;
}

/* 𝑅𝑒𝑠𝑒𝑡 𝑀𝑎𝑟𝑔𝑖𝑛𝑠 */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* 𝑚𝑎𝑘𝑒 𝑖𝑡 𝑎 𝑏𝑖𝑡 𝑚𝑜𝑟𝑒 𝑒𝑎𝑠𝑦 𝑡𝑜 𝑤𝑜𝑟𝑘 𝑤𝑖𝑡ℎ 𝑓𝑜𝑟𝑚𝑠  */
input, button, label {
    font: inherit;
}

/*  𝑅𝑒𝑚𝑜𝑣𝑒 𝑎𝑛𝑖𝑚𝑎𝑡𝑖𝑜𝑛𝑠 𝑓𝑜𝑟 𝑢𝑠𝑒𝑟 𝑡ℎ𝑎𝑡 ℎ𝑎𝑣𝑒 𝑡ℎ𝑒𝑚 𝑡𝑢𝑟𝑛𝑒𝑑 𝑜𝑓𝑓  */
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}


/* ------------- */
/*   𝑈𝑡𝑖𝑙𝑖𝑡𝑦 𝐶𝑙𝑎𝑠𝑒𝑠 */
/* ------------- */

.container {
    margin-inline: 0;
    max-width: 90rem;
    height: auto;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/* -------------- */
/* Root Variables */
/* -------------- */

:root {

    /* 𝐶𝑜𝑙𝑜𝑟𝑠  */
    --gradient: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    /* 𝑁𝑒𝑢𝑡𝑟𝑎𝑙 𝐶𝑜𝑙𝑜𝑟𝑠  */
    --lgray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);

    /* 𝐹𝑜𝑛𝑡 𝐹𝑎𝑚𝑖𝑙𝑦 */
    --font-fam: 'Space Grotesk', sans-serif;
    --fon-w-3: 300;
    --fon-w-4: 400;
    --fon-w-5: 500;

    /* Index staking  */
    --z-plus-1: 1;

    /* Card/ Box Shadow */
    --box-shw: .3em .3em 1.6em .3em hsla(213, 13%, 15%, 0.2), -.3em .3em 1.6em .3em hsla(213, 13%, 15%, .2), .01em -.3em .3em hsla(213 13% 15% / .2%);
    --bord-rad: 12px;

    /* Variables used for Mobile Layout  */
    --pos-ini: initial;
}


/* ------------------------- */
/*   Main Containers Styling */
/* ------------------------- */

main {
    font-family: var(--font-fam);
    width: 100%;
    position: relative;
    height: 100vh;
}

aside {
    display: inline;
    height: 100vh;
}

aside.gradient-section {
    background: url('images/bg-main-desktop.png') no-repeat;
    background-size: cover;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;

}

/* ---------------------- */
/* Front of card Styling  */
/* ---------------------- */


img.front {
    position: absolute;
    top: 12%;
    right: -22%;
    width: 24rem;
    max-width: 27.4rem;
    height: auto;
    z-index: var(--z-plus-1);
    box-shadow: var(--box-shw);
    border-radius: var(--bord-rad);
}

img.card-logo {
    width: 4rem;
    margin-bottom: 10%;
    margin-top: 2%;
}

div.card-data {
    font-weight: var(--fon-w-4);
    position: absolute;
    top: 12%;
    right: -23%;
    height: 11.3rem;
    color: hsl(0, 0%, 100%);
    width: 23.5rem;
    max-width: 27.4rem;
    padding: 2% 0 0 3%;
    z-index: var(--z-plus-1);
}

div>h1 {
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: inherit;
}

h1+table {
    position: absolute;
    bottom: 1px;
    width: 82%;
    font-size: small;
}

td.card-name, td.exp-date {
    width: 48%;
}

p {
    display: inline;
}

td.exp-date, span {
    text-align: right;
}


/* --------------------- */
/* Back of Card styling */
/* -------------------- */


div.card-front+div.card-back-container {
    top: 45%;
    right: -40%;
    z-index: var(--z-plus-1);
}

img#back-img {
    width: 24rem;
    max-width: 27.4rem;
    box-shadow: var(--box-shw);
    border-radius: var(--bord-rad);
}

div.cvc {
    bottom: 48%;
    right: 12%;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
}

/* ------------ */
/* Form styling */
/* ------------ */

aside.form-section {
    float: right;
    width: 65%;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    top: 0;
    right: 0;
}

.form-container {
    width: 40%;
    height: auto;
    position: absolute;
    top: 20%;
    right: 20%;
    font-weight: var(--fon-w-5);
    color: var(--dark-violet);
}

/* labels by default are display inline and do not support margins and paddings 
the is the option to set them as display: block but this time i willl use
line-height instead */

label {
    line-height: 2.5;
    color: inherit;
    font-size: small;
}

input, button {
    line-height: 2;
    width: 100%;
    border-radius: 6px;
    border: 1px solid hsla(213, 13%, 15%, 0.2);
}


input {
    margin: 0 0 4%;
    color: inherit;
    padding: 6px;
}

/* emove arrows/spinners from input type number with CSS. */

/* compatibilty with Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* compatibilty with Firefox*/
input[type="number"] {
    -moz-appearance: textfield;
}

td {
    width: 50%;
}

button {
    margin-top: 1.4rem;
    padding: 8px;
    background-color: var(--dark-violet);
    color: hsl(0, 0%, 100%);
}

#expM, #expY {
    width: 42%;
}

/* ------------------ */
/* Media Query  CSS   */
/* ------------------ */


@media only screen and (max-width: 1060px) and (min-width:719px) {

    img.card-logo {
        margin-bottom: 6%;
        max-width: 20%;
    }

    img.front {
        top: 14%;
        left: 16%;
        max-width: 20rem;
        height: auto;
    }

    div.card-data {
        left: 20%;
        top: 14%;
        max-width: 20rem;
        height: 9.3rem;
    }

    div>h1 {
        letter-spacing: .2em;
        font-size: 1.1rem;
        font-weight: inherit;
        padding: 1%;
    }

    h1+table {
        margin-top: 2%;
    }

    /*  Card Back */

    img#back-img {
        width: 20rem;
        height: auto;
    }


    div.card-back-container {
        top: 47%;
        left: 35%;
        max-width: 20rem;
    }

    /* ------------------- */
    /*  Media Query form CSS */
    /* ------------------- */

    .form-container {
        top: 15%;
        width: 45%;
        right: 20%;
    }
}

@media only screen and (max-width: 720px) {


    main {
        min-width: 375px;
    }

    aside.gradient-section {
        z-index: var(--z-plus-1);
        display: block;
        max-height: 40vh;
        height: 40vh;
        width: 100%;
        position: initial;
    }

    /* aside.gradient-section {
        background: url('images/bg-main-desktop.png') no-repeat;
        background-size: cover;
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
    
    } */

    aside.form-section {
        position: initial;
        height: 60vh;
        width: 100%;
        background-color: rgb(162, 217, 237);
    }

    img.card-logo {
        margin-bottom: 6%;
        max-width: 18%;
    }

    img.front {
        z-index: 2;
        position: absolute;
        top: 60%;
        left: 9%;
        max-width: 80%;
        height: auto;
    }

    img#back-img {
        max-width: 98%;
    }

    div.card-data {
        z-index: 2;
        padding: 4%;
        left: 10%;
        top: 59%;
        max-width: 100%;
        height: 11.6rem;
    }

    div>h1 {
        letter-spacing: .2em;
        font-size: 1.2rem;
        font-weight: inherit;
    }

    h1+table {
        margin-top: 2%;
    }

    div.card-front+div.card-back-container {
        z-index: var(--z-plus-1);
        top: 12%;
        right: 10%;
    }


    .form-container {
        position: absolute;
        width: 80%;
        margin-inline: auto;
        top: 160%;
        bottom: 1px;
        left: 0;
        right: 0;
    }

}




















/* input:focus {
    border: solid 4px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    background-origin: border-box;
    background-clip: content-box, border-box;
} */