/*  */
/*  */

/* ------------- */
/*   ğ‘…ğ‘’ğ‘ ğ‘’ğ‘¡       */
/* ------------- */

/*  ğ‘ğ‘œğ‘¥ ğ‘ ğ‘–ğ‘§ğ‘–ğ‘›ğ‘” ğ‘Ÿğ‘’ğ‘ ğ‘’ğ‘¡  */
* {
    box-sizing: border-box;
}

/* ğ‘…ğ‘’ğ‘ ğ‘’ğ‘¡ ğ‘€ğ‘ğ‘Ÿğ‘”ğ‘–ğ‘›ğ‘  */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* ğ‘šğ‘ğ‘˜ğ‘’ ğ‘–ğ‘¡ ğ‘ ğ‘ğ‘–ğ‘¡ ğ‘šğ‘œğ‘Ÿğ‘’ ğ‘’ğ‘ğ‘ ğ‘¦ ğ‘¡ğ‘œ ğ‘¤ğ‘œğ‘Ÿğ‘˜ ğ‘¤ğ‘–ğ‘¡â„ ğ‘“ğ‘œğ‘Ÿğ‘šğ‘   */
input, button, textarea {
    font: inherit;
}

/*  ğ‘…ğ‘’ğ‘šğ‘œğ‘£ğ‘’ ğ‘ğ‘›ğ‘–ğ‘šğ‘ğ‘¡ğ‘–ğ‘œğ‘›ğ‘  ğ‘“ğ‘œğ‘Ÿ ğ‘¢ğ‘ ğ‘’ğ‘Ÿ ğ‘¡â„ğ‘ğ‘¡ â„ğ‘ğ‘£ğ‘’ ğ‘¡â„ğ‘’ğ‘š ğ‘¡ğ‘¢ğ‘Ÿğ‘›ğ‘’ğ‘‘ ğ‘œğ‘“ğ‘“  */
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}



/* ------------- */
/*   ğ‘ˆğ‘¡ğ‘–ğ‘™ğ‘–ğ‘¡ğ‘¦ ğ¶ğ‘™ğ‘ğ‘ ğ‘’ğ‘  */
/* ------------- */

.container {
    margin-inline: auto;
    padding-inline: 1.5em;
    max-width: 95rem;
}

.card {
    width: 15rem;
    height: 10rem;
    /* background-image: url('images/bg-card-front.png'); */
}


/* -------------- */
/* Root Variables */
/* -------------- */

:root {

    /* ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --gradient: linear-gradient(0.30turn, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    /* ğ‘ğ‘’ğ‘¢ğ‘¡ğ‘Ÿğ‘ğ‘™ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --lgray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);

    /* ğ¹ğ‘œğ‘›ğ‘¡ ğ¹ğ‘ğ‘šğ‘–ğ‘™ğ‘¦ */
    --font-fam: font-family: 'Space Grotesk', sans-serif;
}

/* aside {
    display: inline;
} */

/*  */