/*  */
/*  */



/* ------------- */
/*   ğ‘…ğ‘’ğ‘ ğ‘’ğ‘¡       */
/* ------------- */

/*  ğ‘ğ‘œğ‘¥ ğ‘ ğ‘–ğ‘§ğ‘–ğ‘›ğ‘” ğ‘Ÿğ‘’ğ‘ ğ‘’ğ‘¡  */
* {
    box-sizing: border-box;
}

/* ğ‘…ğ‘’ğ‘ ğ‘’ğ‘¡ ğ‘€ğ‘ğ‘Ÿğ‘”ğ‘–ğ‘›ğ‘  */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
}

/* ğ‘šğ‘ğ‘˜ğ‘’ ğ‘–ğ‘¡ ğ‘ ğ‘ğ‘–ğ‘¡ ğ‘šğ‘œğ‘Ÿğ‘’ ğ‘’ğ‘ğ‘ ğ‘¦ ğ‘¡ğ‘œ ğ‘¤ğ‘œğ‘Ÿğ‘˜ ğ‘¤ğ‘–ğ‘¡â„ ğ‘“ğ‘œğ‘Ÿğ‘šğ‘   */
input, button, textarea, label {
    font: inherit;
}

/*  ğ‘…ğ‘’ğ‘šğ‘œğ‘£ğ‘’ ğ‘ğ‘›ğ‘–ğ‘šğ‘ğ‘¡ğ‘–ğ‘œğ‘›ğ‘  ğ‘“ğ‘œğ‘Ÿ ğ‘¢ğ‘ ğ‘’ğ‘Ÿ ğ‘¡â„ğ‘ğ‘¡ â„ğ‘ğ‘£ğ‘’ ğ‘¡â„ğ‘’ğ‘š ğ‘¡ğ‘¢ğ‘Ÿğ‘›ğ‘’ğ‘‘ ğ‘œğ‘“ğ‘“  */
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
    }
}


/* ------------- */
/*   ğ‘ˆğ‘¡ğ‘–ğ‘™ğ‘–ğ‘¡ğ‘¦ ğ¶ğ‘™ğ‘ğ‘ ğ‘’ğ‘  */
/* ------------- */

.container {
    margin-inline: auto;
    max-width: 95rem;
}


/* -------------- */
/* Root Variables */
/* -------------- */

:root {

    /* ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --gradient: linear-gradient(0.30turn, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

    /* ğ‘ğ‘’ğ‘¢ğ‘¡ğ‘Ÿğ‘ğ‘™ ğ¶ğ‘œğ‘™ğ‘œğ‘Ÿğ‘   */
    --lgray-violet: hsl(270, 3%, 87%);
    --dark-gray-violet: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);

    /* ğ¹ğ‘œğ‘›ğ‘¡ ğ¹ğ‘ğ‘šğ‘–ğ‘™ğ‘¦ */
    --font-fam: 'Space Grotesk', sans-serif;
}


/* -------------- */
/*   More Styling */
/* -------------- */

main {
    font-family: var(--font-fam);
    width: 100%;
    position: relative;
    height: 100vh;
}

aside {
    display: inline;
    height: 100%;
}

aside.gradient-section {
    background: url('images/bg-main-desktop.png') no-repeat;
    background-size: cover;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;

}

/* used background-size: contain  to make the bg-img fit the div width-content */
div.card-front {
    background: url('images/bg-card-front.png') no-repeat;
    background-size: contain;
}

div.card-front+div {
    width: inherit;
}

div.card-back {
    background: url('images/bg-card-back.png') no-repeat;
    background-size: contain;
}

aside.form-section {
    float: right;
    width: 65%;
    position: absolute;
    top: 0;
    right: 0;

}

.form-container {
    width: 40%;
    height: 12rem;
    position: absolute;
    top: 30%;
    right: 10%;
}